@import './colors.scss';
@import './resetcss.scss';
.body {
    background-color: var(--bg-color-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Inter;
    font-size: 14px;
}
.main{
    margin-top: 24px;
    max-width: 1160px;
    width: 100%;
    background: var(--bg-color-gray);
    padding-bottom: 16px;

    &__lenta{
        display:flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        gap: 24px;
    }

    @media screen and (max-device-width: 375px) {
        margin: 16px;
    }

    &__banner{
        margin-top: 16px;
        margin-bottom: 36px;
    }
}
.posts{
    flex-grow: 3;
}
.sidebar{
    flex-grow: 1;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.content__post{
    background: white;
    width: 100%;
    display:flex;
    align-items: center;
}